# **Bike Price prediction using Linear regression**

-------------

## **Objective**

To calculate price of bike using its ex_showroom_price,owner_type,sellet_type,kms_driven,year

## **Data Source**

used the  datset from ybi foundation to in csv form used pandas to convert to datframe and converted values to suitable form

## **Import Library**

In [6]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

## **Import Data**

In [7]:
data=pd.read_csv('/home/roltrox/Documents/extra/internship/Dataset/Bike Prices.csv')

## **Describe Data**

In [9]:
data.head()

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0

In [10]:
data.describe()

       Selling_Price         Year      KM_Driven  Ex_Showroom_Price
count    1061.000000  1061.000000    1061.000000       6.260000e+02
mean    59638.151744  2013.867107   34359.833176       8.795871e+04
std     56304.291973     4.301191   51623.152702       7.749659e+04
min      5000.000000  1988.000000     350.000000       3.049000e+04
25%     28000.000000  2011.000000   13500.000000       5.485200e+04
50%     45000.000000  2015.000000   25000.000000       7.275250e+04
75%     70000.000000  2017.000000   43000.000000       8.703150e+04
max    760000.000000  2020.000000  880000.000000       1.278000e+06

In [11]:
data.columns

Index(['Brand', 'Model', 'Selling_Price', 'Year', 'Seller_Type', 'Owner',
       'KM_Driven', 'Ex_Showroom_Price'],
      dtype='object')

In [37]:
data['Owner'].value_counts()

1st owner    924
2nd owner    123
3rd owner     11
4th owner      3
Name: Owner, dtype: int64

## **Define Target Variable (y) and Feature Variables (X)**

In [13]:
y=data['Selling_Price']
X=data[[ 'Selling_Price', 'Year', 'Seller_Type', 'Owner','KM_Driven', 'Ex_Showroom_Price']]
X

      Selling_Price  Year Seller_Type      Owner  KM_Driven  Ex_Showroom_Price
0             30000  2017  Individual  1st owner       8000            30490.0
1             18000  2017  Individual  1st owner      35000            32000.0
2             20000  2011  Individual  1st owner      10000            37675.0
3             25000  2010  Individual  1st owner      43000            42859.0
4             24999  2012  Individual  2nd owner      35000            42859.0
...             ...   ...         ...        ...        ...                ...
1056          90000  2012  Individual  1st owner      40000                NaN
1057          20000  2010  Individual  1st owner      17000                NaN
1058          60000  2014  Individual  1st owner      16000                NaN
1059          40000  2009  Individual  1st owner      50000                NaN
1060          35000  2012  Individual  1st owner      60000                NaN

[1061 rows x 6 columns]

In [38]:
X.replace({"Owner":{"1st owner":0,"2nd owner":1,"3rd owner":2,"4th owner":3}},inplace=True)
X.replace({"Seller_Type":{"Individual":0,"Dealer":1}},inplace=True)
X

     Selling_Price  Year  Seller_Type  Owner  KM_Driven  Ex_Showroom_Price
0            30000  2017            0      0       8000            30490.0
1            18000  2017            0      0      35000            32000.0
2            20000  2011            0      0      10000            37675.0
3            25000  2010            0      0      43000            42859.0
4            24999  2012            0      1      35000            42859.0
..             ...   ...          ...    ...        ...                ...
621         330000  2014            0      3       6500           534000.0
622         300000  2011            0      0      12000           589000.0
623         425000  2017            0      1      13600           599000.0
624         760000  2019            0      0       2800           752020.0
625         750000  2013            0      1      12000          1278000.0

[626 rows x 6 columns]

In [39]:
X = X.dropna()
y = y.loc[X.index] 
X

     Selling_Price  Year  Seller_Type  Owner  KM_Driven  Ex_Showroom_Price
0            30000  2017            0      0       8000            30490.0
1            18000  2017            0      0      35000            32000.0
2            20000  2011            0      0      10000            37675.0
3            25000  2010            0      0      43000            42859.0
4            24999  2012            0      1      35000            42859.0
..             ...   ...          ...    ...        ...                ...
621         330000  2014            0      3       6500           534000.0
622         300000  2011            0      0      12000           589000.0
623         425000  2017            0      1      13600           599000.0
624         760000  2019            0      0       2800           752020.0
625         750000  2013            0      1      12000          1278000.0

[626 rows x 6 columns]

## **Train Test Split**

In [40]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 269 to 352
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Selling_Price      469 non-null    int64
 1   Year               469 non-null    int64
 2   Seller_Type        469 non-null    int64
 3   Owner              469 non-null    int64
 4   KM_Driven          469 non-null    int64
 5   Ex_Showroom_Price  469 non-null    float64
dtypes: float64(1), int64(5)
memory usage: 25.6 KB

## **Modeling**

In [41]:
model=LinearRegression()

In [42]:
model.fit(X_train,y_train)

LinearRegression()

## **Prediction**

In [43]:
y_pred=model.predict(X_test)
y_pred

array([ 30000.,  45000.,  45000.,  45000.,  45000.,  50000.,  25000.,
        80000., 140000.,  50000.,  25000.,  30000.,  65000.,  45000.,
        75000., 100000.,  70000.,  35000.,  41000.,  40000.,  48000.,
        50000.,  35000.,  60000., 105000.,  30000.,  45000., 110000.,
        35000.,  30000.,  20000., 125000.,  38000.,  35000.,  60000.,
        25000.,  35000.,  50000.,  60000.,  15000.,  65000.,  25000.,
        48000.,  28000.,  85000.,  30900., 110000., 100000.,  80000.,
        30000.,  80000.,  65000.,  30000.,  55000.,  22000.,  55000.,
        35000.,  43000.,  55000.,  47000.,  23000.,  21000.,  56000.,
        30000., 115000.,  24000.,  40000.,  60000.,  50000.,  50000.,
        20000.,  50000., 300000.,  56000.,  48000.,  45000.,  30000.,
        80000.,  50000., 130000.,  27000.,  25000.,  30000., 135000.,
        35000.,  18000.,  18000.,  78500., 760000., 150000.,  90000.,
        52000.,  35000.,  18000.,  25000.,  25000.,  22000.,  32000.,
        20000.,  30000.,  55000.,  54786.,  30000.,  30000.,  22000.,
       120000.,  75000.,  30000.,  65000.,  28000.,  50000.,  45000.,
       425000.,  25000.,  27000.,  60000.,  85000., 165000.,  24000.,
       110000.,  30000.,  48000.,  35000.,  70000.,  42000.,  50000.,
        20000.,  40000.,  95000., 130000.,  12000.,  28000.,  65000.,
       110000.,  50000.,  25000.,  85000.,  30000.,  40000.,  25000.,
        38000.,  25000.,  30000.,  40000.,  34000.,  25000.,  70000.,
        65000.,  25000.,  35000.,  42000.,  60000.,  35000., 150000.,
        50000.,  35000.,  50000.])

## **Model Evalution**

In [44]:
mean_absolute_error(y_test,y_pred)

8.235271770957929e-11

In [45]:
mean_absolute_percentage_error(y_test,y_pred)

1.6289546215823283e-15

In [46]:
mean_squared_error(y_test,y_pred)

3.159172410395581e-20