# **Mielage prediction using Linear regression**

-------------

## **Objective**

To calculate milage of vehicle using its weight,acceleartion,horsepoweer,number of cylinders,kms_driven(displacement)

## **Data Source**

used the  datset from ybi foundation to in csv form used pandas to convert to datframe and converted values to suitable form

## **Import Library**

In [42]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

## **Import Data**

In [54]:
data=pd.read_csv('/home/roltrox/Documents/extra/internship/Dataset/MPG.csv')

## **Describe Data**

In [44]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [45]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [46]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

## **Define Target Variable (y) and Feature Variables (X)**

In [47]:
y=data['mpg']
X=data[['cylinders', 'displacement', 'horsepower', 'weight','acceleration']]

     cylinders  displacement  horsepower  weight  acceleration
0            8         307.0       130.0    3504          12.0
1            8         350.0       165.0    3693          11.5
2            8         318.0       150.0    3436          11.0
3            8         304.0       150.0    3433          12.0
4            8         302.0       140.0    3449          10.5
..         ...           ...         ...     ...           ...
393          4         140.0        86.0    2790          15.6
394          4          97.0        52.0    2130          24.6
395          4         135.0        84.0    2295          11.6
396          4         120.0        79.0    2625          18.6
397          4         119.0        82.0    2720          19.4

[398 rows x 5 columns]

In [56]:
X = X.dropna()
y = y.loc[X.index]

## **Train Test Split**

In [1]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)
X_train.info()

NameError: name 'train_test_split' is not defined

## **Modeling**

In [58]:
model=LinearRegression()

In [59]:
model.fit(X_train,y_train)

LinearRegression()

## **Prediction**

In [60]:
y_pred=model.predict(X_test)
y_pred

array([18.41551953, 15.11615082, 14.25631427, 23.66843544, 29.76974991,
       23.76826041, 26.47315524, 24.61637185, 15.1002758 , 11.92262177,
       24.06776864, 28.05804504, 31.77445692, 31.03585959, 18.36851352,
       19.3666313 , 28.17330762, 32.26092178, 31.22546515, 27.19187521,
       18.87162089, 22.69652611, 26.28807613, 32.53109907, 20.74922493,
        8.48709427, 21.9296506 , 18.13887391, 24.93421708, 14.99040883,
       23.27960435, 17.07603815,  9.25328807, 30.02158884, 20.51028309,
       29.16857736, 24.19767444, 21.82684991, 10.48538304, 12.99360514,
       21.56816133, 19.93890258,  5.87232588, 17.80270422, 22.70368292,
       29.40244895, 13.25711692, 25.86384946, 29.2939627 , 22.43951331,
       22.32510917, 16.57173979, 24.03526267, 30.18833557, 10.07651505,
        9.37062362, 28.16934384, 23.69803737, 20.09753783, 30.77130655,
       20.95510508, 26.74614169, 23.17684307, 14.10485903, 24.38375716,
       26.85799697, 15.26520837, 24.19861768, 30.80713794, 14.8454319 ,
       27.5459377 , 24.35189689, 10.75439977, 30.29091941, 30.95367947,
       27.37988524, 31.25869091, 10.26506326, 27.65883636, 16.3925876 ,
       25.62244552, 29.48315768, 14.81822662, 32.74196622, 30.33958124,
       30.94596762, 14.59376906, 27.05226415, 26.78014833, 29.10276472,
       32.54599685, 29.50931389, 31.69402455, 31.68914855, 21.5265409 ,
       31.69456757, 26.14693955, 28.95529268])

## **Model Evalution**

In [61]:
mean_absolute_error(y_test,y_pred)

3.2098162514740367

In [62]:
mean_absolute_percentage_error(y_test,y_pred)

0.14467024201248874

In [64]:
mean_squared_error(y_test,y_pred)

16.78086574144733