# **Servo Motor Class prediction using Linear regression**

-------------

## **Objective**

To find the class of servo motor by using its voltagegain, power gain,motor and screw types

## **Data Source**

used the  datset from ybi foundation to in csv form used pandas to convert to datframe and convertedvalues to suitable form

## **Import Library**

In [68]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

## **Import Data**

In [39]:
data=pd.read_csv('/home/roltrox/Documents/extra/internship/Dataset/Servo Mechanism.csv')

## **Describe Data**

In [40]:
data.head()

  Motor Screw  Pgain  Vgain  Class
0     E     E      5      4      4
1     B     D      6      5     11
2     D     D      4      3      6
3     B     A      3      2     48
4     D     B      6      5      6

In [41]:
data['Motor'].value_counts()

C    40
B    36
A    36
E    33
D    22
Name: Motor, dtype: int64

In [43]:
data.describe()

            Pgain       Vgain       Class
count  167.000000  167.000000  167.000000
mean     4.155689    2.538922   21.173653
std      1.017770    1.369850   13.908038
min      3.000000    1.000000    1.000000
25%      3.000000    1.000000   10.500000
50%      4.000000    2.000000   18.000000
75%      5.000000    4.000000   33.500000
max      6.000000    5.000000   51.000000

In [44]:
data.columns

Index(['Motor', 'Screw', 'Pgain', 'Vgain', 'Class'], dtype='object')

## **Define Target Variable (y) and Feature Variables (X)**

In [45]:
y=data['Class']
X=data[['Motor', 'Screw', 'Pgain', 'Vgain']]

In [56]:
X.replace({'Screw':{'A':0,'B':1,'C':2,'D':3,'E':4}},inplace=True)
X.replace({'Motor':{'A':0,'B':1,'C':2,'D':3,'E':4}},inplace=True)
X

/tmp/ipykernel_16615/406565120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.replace({'Screw':{'A':0,'B':1,'C':2,'D':3,'E':4}},inplace=True)
/tmp/ipykernel_16615/406565120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.replace({'Motor':{'A':0,'B':1,'C':2,'D':3,'E':4}},inplace=True)

     Motor  Screw  Pgain  Vgain
0        5      5      5      4
1        2      4      6      5
2        4      4      4      3
3        2      1      3      2
4        4      2      6      5
..     ...    ...    ...    ...
162      2      3      3      2
163      2      5      3      1
164      3      4      4      3
165      1      2      3      2
166      1      1      6      5

[167 rows x 4 columns]

## **Train Test Split**

In [72]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)
X_train

     Motor  Screw  Pgain  Vgain
138      2      5      4      1
32       3      5      4      1
145      5      3      3      2
48       3      5      3      2
98       2      4      3      2
..     ...    ...    ...    ...
72       3      2      5      4
143      1      2      4      2
60       5      2      4      2
50       4      1      6      5
96       5      4      3      1

[125 rows x 4 columns]

## **Modeling**

In [53]:
model=LinearRegression()

In [54]:
model.fit(X_train,y_train)

LinearRegression()

## **Prediction**

In [61]:
y_pred=model.predict(X_test)
y_pred

array([25.56654851, 31.24940687, 19.04876502, 24.47852818, 39.37546387,
       24.37566459, 11.92192754, 19.94086363, 41.22109189, 41.9215261 ,
       13.76755557, 25.9225073 , 17.203137  , 15.50606268, 22.23125126,
       21.48770634, -4.92349976, 31.10343258, 32.9490606 ,  0.46057329,
       34.2402287 , 32.24862639, 34.53901401, 30.10421306, 18.94164411,
        7.03978758, 29.21211445, 16.9500418 , 24.77731349,  4.04896574,
       31.05774247, 23.93090499, 35.93988243, 31.94984108, 11.81480663,
        3.60420614, 22.63290015, 33.09503489, 16.65125649, 38.23027006,
       28.55737035, 21.78649166])

## **Model Evalution**

In [62]:
mean_absolute_error(y_test,y_pred)

6.735955685746798

In [63]:
mean_absolute_percentage_error(y_test,y_pred)

0.7695731053957344

In [64]:
mean_squared_error(y_test,y_pred)

60.2115615931929

## **Explaination**